h1 {
    text-align: center;
}

.btn {
    margin: 10px;
}

.main {
    position: absolute;
    width: 100%;
    margin: auto;
    display: grid;
    justify-content: center;
}

#roi {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 80px;
  border: 1px solid red;
  border-radius: 5px;
}

.video-container {
    position: relative;
    justify-content: center;
    align-items: center;
}

#video {
  width: 640px;
  height: 480px;
  border: 1px solid black;
  border-radius: 5px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#results-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

#results-container img {
  padding-top: 150px;
  max-width: 100%;
  height: auto;
}