h1 {
    text-align: center;
}

.btn {
    margin: 10px;
}

.main {
    width: 100%;
    margin: auto;
    display: grid;
    justify-content: center;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 40px;
  background-color: rgba(128, 128, 128, 0.5);
}